
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}
body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
	background: url(../img/background1.jpg) no-repeat center;
    background-attachment:fixed;
	font-variant:initial;
    font-family: Helvetica;
    font-size:12px;
    height:100%;
    margin:0px;
    padding:0px;
    width:100%;
	color: white;
	
}



/* Portrait layout (default) */
.app {
    background:url(../img/logo.png) no-repeat center top; /* 170px x 200px */
    position:absolute;             /* position in the center of the screen */
    left:39%;
    top:20%;
    height: 400px;                   /* text area height */
    width:320px;                   /* text area width */
    text-align:center;
    padding:260px 0px 0px 0px;     /* image height is 200px (bottom 20px are overlapped with text) */
    margin:-115px 0px 0px -112px;  /* offset vertical: half of image height and text area height */
                                  /* offset horizontal: half of text area width */
    border: 0px;
}
.splash
{
    background:url(../img/logo.png) no-repeat center top; /* 170px x 200px */
    position:absolute;             /* position in the center of the screen */
    left:39%;
    top:20%;
    height: 400px;                   /* text area height */
    width:325px;                   /* text area width */
    text-align:center;
    padding:240px 45px 0px 45px;     /* image height is 200px (bottom 20px are overlapped with text) */
    margin:-115px 0px 0px -157px;  /* offset vertical: half of image height and text area height */
                                  /* offset horizontal: half of text area width */
    border: 0px;
	opacity: 0.8;
}
.signup {
    background:url(../img/logo.png) no-repeat center top; /* 170px x 200px */
    position:absolute;             /* position in the center of the screen */
    left:33%;
    top:22%;
    height: 400px;                   /* text area height */
    width:350px;                   /* text area width */
    text-align:center-left;
    padding:220px 0px 0px 0px;     /* image height is 200px (bottom 20px are overlapped with text) */
    margin:-115px 0px 0px -112px;  /* offset vertical: half of image height and text area height */
                                    /* offset horizontal: half of text area width */
    border: 0px;
}
/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) 
{
.app{
		position:absolute;
        background-position: left center;
        padding: 200px 0px 270px 200px;  /* padding-top + padding-bottom + text area = image height */
        margin: -120px 0px 0px -210px;  /* offset vertical: half of image height */
                                      /* offset horizontal: half of image width and text area width */
		left: 30%;
		top: -10%;
	    height: 220px ;                   /* text area height */
		width:450px;                   /* text area width */
		
	}

.signup{
        background-position:left center;
        padding:0px 0px 0px 170px;  /* padding-top + padding-bottom + text area = image height */
        margin:-90px 0px 0px -198px;  /* offset vertical: half of image height */
                                      /* offset horizontal: half of image width and text area width */
	font-variant:initial;
	color: white;
	}
	.foot
	{
		opacity: 0;
    margin: -30px 0px 0px 0px; 
    width:100%;                   /* text area width */
    text-align:center;
	}
}
    
h1 {
    font-size:24px;
    font-weight:normal;
    margin:0px;
    overflow:visible;
    padding:0px;
    text-align:center;
}

.event {
    border-radius:4px;
    -webkit-border-radius:4px;
    color:#FFFFFF;
    font-size:12px;
    margin:0px 30px;
    padding:2px 0px;
}

.event.listening {
    background-color:#333333;
    display:block;
}

.event.received {
    background-color:#4B946A;
    display:none;
}

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}
.foot
{
    position:absolute;             /* position in the center of the screen */
    top:95%;
    width:100%;                   /* text area width */
    text-align:center;
}
.welcome_buttons
{
    position:absolute;             /* position in the center of the screen */
    top:85%;
    width:100%;                   /* text area width */
    text-align:center;
}
#foot_hr hr
{
	width: 92%;
	opacity: 0.1;
}
#welcome_quote p
{
	font-size:25px;
	text-shadow: 0.5px 0.7px black;
	color:red;
	text-align:center;
	font-family: Charcoal;
		opacity: 0.7;
}
#welcome_div div
{
	background-color: white;
	margin-top: -50px;
	margin-left: 0px;
	opacity: 0.8;
	-moz-border-radius: 15px;
	-webkit-border-radius: 20px;
}
button#start_b{
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  width: 412px;
  height: 45px;
  cursor: pointer;
  padding-bottom:5px;
  margin: 0 auto;
  border: 2px solid rgba(33,224,163,1);
  -webkit-border-radius: 40px;
  border-radius: 0px;
  font: normal 37px 'Pacifico', cursive;
  color: rgba(255,255,255,1);
  text-align: center;
  -o-text-overflow: clip;
  text-overflow: clip;
  letter-spacing: 1px;
  background: rgba(33,224,163,1);
  -webkit-transition: background-color 0.3s cubic-bezier(0, 0, 0, 0), color 0.3s cubic-bezier(0, 0, 0, 0), width 0.3s cubic-bezier(0, 0, 0, 0), border-width 0.3s cubic-bezier(0, 0, 0, 0), border-color 0.3s cubic-bezier(0, 0, 0, 0);
  -moz-transition: background-color 0.3s cubic-bezier(0, 0, 0, 0), color 0.3s cubic-bezier(0, 0, 0, 0), width 0.3s cubic-bezier(0, 0, 0, 0), border-width 0.3s cubic-bezier(0, 0, 0, 0), border-color 0.3s cubic-bezier(0, 0, 0, 0);
  -o-transition: background-color 0.3s cubic-bezier(0, 0, 0, 0), color 0.3s cubic-bezier(0, 0, 0, 0), width 0.3s cubic-bezier(0, 0, 0, 0), border-width 0.3s cubic-bezier(0, 0, 0, 0), border-color 0.3s cubic-bezier(0, 0, 0, 0);
  transition: background-color 0.3s cubic-bezier(0, 0, 0, 0), color 0.3s cubic-bezier(0, 0, 0, 0), width 0.3s cubic-bezier(0, 0, 0, 0), border-width 0.3s cubic-bezier(0, 0, 0, 0), border-color 0.3s cubic-bezier(0, 0, 0, 0);
	opacity:0.8;
  }

button#start_b:hover {
  font: normal 37px 'Pacifico', cursive;
  background: rgb(30, 205, 151);
}

button#start_b:active {
border: 2px solid rgba(33,224,163,1);
  color: rgba(33,224,163,1);
  background: rgba(33,224,163,0.01);
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none;
}
